#jogs-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;

  #control-panel {
    width: 100%;

    #date-controls {
      display: flex;
      align-items: center;
      width: 100%;
      height: 80px;
      background-color: @grey;

      md-content {
        display: block;
        background-color: transparent;

        md-datepicker {
          margin-right: 20px;
        }

        h2 {
          display: inline-block;
          font-size: 1em;
          font-weight: 400;
        }
      }
    }
    #create-jog-controls {
      width: 100%;
      box-sizing: border-box;
      padding: 0 calc(20px + @scroll-bar-width) 0 20px;

      .table {
        font-size: 0.8em;

        h3 {
          font-size: 1em;
          font-weight: 500;
          text-transform: uppercase;
        }
        .table-cell {
          display: flex;
          align-items: center;
          border-bottom: 1px solid @grey;

          &.create-jog {
            &.not-md {
              input {
                background-color: transparent;
                border: none;
                border-bottom: solid 2px @grey;
                padding: 3px;

                &:focus {
                  outline: none;
                  border-bottom: solid 2px @primary;
                }
              }
            }
          }
        }
      }
    }
  }

  #content-panel {
    flex-grow: 1;
    overflow-y: scroll;
    width: 100%;
    height: calc(~'100% - 80px');
    box-sizing: border-box;
    padding: 0 20px;

    .table {
      font-size: 0.8em;

      .table-cell {
        display: flex;
        align-items: center;
        border-bottom: 1px solid @grey;
      }
    }
  }
}
