<div id="home-view" class="full-page">
  <nav ng-class="{ 'closed': !isNavOpen() }">
    <header>
      <img src="assets/images/logo.png">
      <p>{{ getUser().name.first }} {{ getUser().name.last }}</p>
    </header>
    <p id="logout" ng-click="logout()">Logout</p>
    <ul>
      <a ui-sref="home.jogs"><li ng-show="showMenuItem('home.jogs')" ng-class="{ 'selected': getState() === 'home.jogs' }">My Jogs</li></a>
      <a ui-sref="home.reports"><li ng-show="showMenuItem('home.reports')" ng-class="{ 'selected': getState() === 'home.reports' }">Reports</li></a>
      <a ui-sref="home.manage-users"><li ng-show="showMenuItem('home.manage-users')" ng-class="{ 'selected': getState() === 'home.manage-users' }">Manage Users</li></a>
    </ul>
  </nav>
  <div id="page-container">
    <header>
      <img ng-src="assets/icons/{{ isNavOpen() ? 'back' : 'menu' }}.png" ng-click="toggleNavOpen()">
      <h1>{{ getPageTitle() }}</h1>
    </header>
    <div ui-view></div>
  </div>
</div>
